<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>BlueAsteroid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,171}</string>
    <key>spriteSourceSize</key>
    <string>{171,171}</string>
    <key>textureRect</key>
    <string>{{228,0},{171,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenAsteroid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,153}</string>
    <key>spriteSourceSize</key>
    <string>{155,153}</string>
    <key>textureRect</key>
    <string>{{0,228},{155,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>LavaAsteroid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{146,139}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{157,228},{146,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RockAsteroid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,3}</string>
    <key>spriteSize</key>
    <string>{142,142}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{305,228},{142,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>YellowAsteroid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,226}</string>
    <key>spriteSourceSize</key>
    <string>{226,226}</string>
    <key>textureRect</key>
    <string>{{0,0},{226,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{449,383}</string>
   <key>textureFileName</key>
   <string>Asteroids.png</string>
  </dict>
 </dict>
</plist>
