<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Explosion1</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{0,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Explosion2</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{100,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Explosion3</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{200,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Explosion4</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{300,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Explosion5</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{400,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Explosion6</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>100,100}</string>
        <key>spriteSourceSize</key>
        <string>{100,100}</string>
        <key>textureRect</key>
        <string>{{500,100},{100,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>size</key>
      <string>{600,600}</string>
      <key>textureFileName</key>
      <string>Explosions.png</string>
    </dict>
  </dict>
</plist>

