<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GreenArrow01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string>{32,20}</string>
    <key>textureRect</key>
    <string>{{262,203},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenArrow02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{322,409},{32,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenArrow03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{208,46}</string>
    <key>spriteSourceSize</key>
    <string>{216,48}</string>
    <key>textureRect</key>
    <string>{{0,67},{208,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenArrow04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{208,44}</string>
    <key>spriteSourceSize</key>
    <string>{216,48}</string>
    <key>textureRect</key>
    <string>{{0,115},{208,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenArrow05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-2}</string>
    <key>spriteSize</key>
    <string>{278,65}</string>
    <key>spriteSourceSize</key>
    <string>{288,72}</string>
    <key>textureRect</key>
    <string>{{0,0},{278,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{318,309},{46,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{210,32}</string>
    <key>spriteSourceSize</key>
    <string>{216,48}</string>
    <key>textureRect</key>
    <string>{{210,67},{210,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,42}</string>
    <key>spriteSourceSize</key>
    <string>{72,44}</string>
    <key>textureRect</key>
    <string>{{346,0},{70,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,30}</string>
    <key>spriteSourceSize</key>
    <string>{84,32}</string>
    <key>textureRect</key>
    <string>{{232,255},{84,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,48}</string>
    <key>textureRect</key>
    <string>{{158,343},{60,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{80,40}</string>
    <key>spriteSourceSize</key>
    <string>{84,40}</string>
    <key>textureRect</key>
    <string>{{58,341},{80,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,46}</string>
    <key>spriteSourceSize</key>
    <string>{84,48}</string>
    <key>textureRect</key>
    <string>{{158,295},{84,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{58,267},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,68}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{158,225},{72,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,24}</string>
    <key>spriteSourceSize</key>
    <string>{40,24}</string>
    <key>textureRect</key>
    <string>{{400,225},{40,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenBlast11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{42,30}</string>
    <key>spriteSourceSize</key>
    <string>{48,32}</string>
    <key>textureRect</key>
    <string>{{366,368},{42,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser01_End</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,38}</string>
    <key>spriteSourceSize</key>
    <string>{42,38}</string>
    <key>textureRect</key>
    <string>{{366,255},{42,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser01_Mid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{140,341},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser01_Start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,48}</string>
    <key>spriteSourceSize</key>
    <string>{38,48}</string>
    <key>textureRect</key>
    <string>{{204,389},{38,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser02_End</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,106}</string>
    <key>spriteSourceSize</key>
    <string>{56,108}</string>
    <key>textureRect</key>
    <string>{{0,267},{56,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser02_Mid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{326,161},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenLaser02_Start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{46,52}</string>
    <key>textureRect</key>
    <string>{{106,383},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{42,375},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,12}</string>
    <key>spriteSourceSize</key>
    <string>{40,12}</string>
    <key>textureRect</key>
    <string>{{346,44},{40,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,12}</string>
    <key>spriteSourceSize</key>
    <string>{40,12}</string>
    <key>textureRect</key>
    <string>{{310,143},{40,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,22}</string>
    <key>spriteSourceSize</key>
    <string>{40,24}</string>
    <key>textureRect</key>
    <string>{{398,400},{40,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,13}</string>
    <key>spriteSourceSize</key>
    <string>{48,16}</string>
    <key>textureRect</key>
    <string>{{260,143},{48,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,16}</string>
    <key>spriteSourceSize</key>
    <string>{48,16}</string>
    <key>textureRect</key>
    <string>{{210,143},{48,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,31}</string>
    <key>spriteSourceSize</key>
    <string>{48,32}</string>
    <key>textureRect</key>
    <string>{{366,295},{48,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,20}</string>
    <key>spriteSourceSize</key>
    <string>{20,20}</string>
    <key>textureRect</key>
    <string>{{294,203},{20,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{120,20}</string>
    <key>spriteSourceSize</key>
    <string>{128,32}</string>
    <key>textureRect</key>
    <string>{{140,203},{120,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{166,28}</string>
    <key>spriteSourceSize</key>
    <string>{176,28}</string>
    <key>textureRect</key>
    <string>{{232,225},{166,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{366,400},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,40}</string>
    <key>spriteSourceSize</key>
    <string>{192,48}</string>
    <key>textureRect</key>
    <string>{{140,161},{184,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{154,40}</string>
    <key>spriteSourceSize</key>
    <string>{160,40}</string>
    <key>textureRect</key>
    <string>{{210,101},{154,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenOrb14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{156,40}</string>
    <key>spriteSourceSize</key>
    <string>{160,40}</string>
    <key>textureRect</key>
    <string>{{0,225},{156,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenRune01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{244,409},{38,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenRune02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,38}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{366,328},{36,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenRune03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{298,365},{40,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{410,255},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{416,101},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{404,328},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{284,409},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{158,389},{44,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,42}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{244,365},{52,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{380,161},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenStar08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{318,255},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,24}</string>
    <key>textureRect</key>
    <string>{{410,368},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,50}</string>
    <key>spriteSourceSize</key>
    <string>{32,56}</string>
    <key>textureRect</key>
    <string>{{282,295},{32,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
    <key>GreenWave03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{22,61}</string>
    <key>spriteSourceSize</key>
    <string>{24,64}</string>
    <key>textureRect</key>
    <string>{{132,267},{22,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,68}</string>
    <key>spriteSourceSize</key>
    <string>{36,68}</string>
    <key>textureRect</key>
    <string>{{244,295},{36,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{48,56}</string>
    <key>textureRect</key>
    <string>{{58,383},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,55}</string>
    <key>spriteSourceSize</key>
    <string>{48,56}</string>
    <key>textureRect</key>
    <string>{{366,101},{48,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,63}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{280,0},{64,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{138,62}</string>
    <key>spriteSourceSize</key>
    <string>{144,64}</string>
    <key>textureRect</key>
    <string>{{0,161},{138,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenWave09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,72}</string>
    <key>spriteSourceSize</key>
    <string>{40,72}</string>
    <key>textureRect</key>
    <string>{{0,375},{40,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{446,449}</string>
   <key>textureFileName</key>
   <string>GreenProjectiles.png</string>
  </dict>
 </dict>
</plist>
