<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>AddButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{419,427}</string>
    <key>spriteSourceSize</key>
    <string>{447,451}</string>
    <key>textureRect</key>
    <string>{{422,0},{419,427}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RemoveButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{420,427}</string>
    <key>spriteSourceSize</key>
    <string>{430,438}</string>
    <key>textureRect</key>
    <string>{{0,0},{420,427}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{843,429}</string>
   <key>textureFileName</key>
   <string>GUI.png</string>
  </dict>
 </dict>
</plist>
