<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Star</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{79,80}</string>
    <key>textureRect</key>
    <string>{{66,0},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Skeleton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{61,73}</string>
    <key>spriteSourceSize</key>
    <string>{63,76}</string>
    <key>textureRect</key>
    <string>{{218,0},{61,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Heart</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,76}</string>
    <key>textureRect</key>
    <string>{{0,90},{71,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Clock</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{74,70}</string>
    <key>textureRect</key>
    <string>{{0,233},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Coin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{74,70}</string>
    <key>textureRect</key>
    <string>{{73,233},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Diamond</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,69}</string>
    <key>spriteSourceSize</key>
    <string>{77,72}</string>
    <key>textureRect</key>
    <string>{{142,0},{75,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Shield</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,70}</string>
    <key>spriteSourceSize</key>
    <string>{71,72}</string>
    <key>textureRect</key>
    <string>{{146,168},{71,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Energy</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{62,70}</string>
    <key>spriteSourceSize</key>
    <string>{64,74}</string>
    <key>textureRect</key>
    <string>{{212,90},{62,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BlueCube</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{76,68}</string>
    <key>spriteSourceSize</key>
    <string>{80,71}</string>
    <key>textureRect</key>
    <string>{{0,164},{76,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>FirstPlace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,89}</string>
    <key>spriteSourceSize</key>
    <string>{67,90}</string>
    <key>textureRect</key>
    <string>{{0,0},{65,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Drill</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,79}</string>
    <key>spriteSourceSize</key>
    <string>{56,81}</string>
    <key>textureRect</key>
    <string>{{218,168},{54,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Warning</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,71}</string>
    <key>spriteSourceSize</key>
    <string>{75,74}</string>
    <key>textureRect</key>
    <string>{{72,90},{73,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bullet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,73}</string>
    <key>spriteSourceSize</key>
    <string>{63,74}</string>
    <key>textureRect</key>
    <string>{{218,248},{57,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Tubes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{69,71}</string>
    <key>spriteSourceSize</key>
    <string>{71,75}</string>
    <key>textureRect</key>
    <string>{{146,239},{69,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Rocket</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,77}</string>
    <key>spriteSourceSize</key>
    <string>{67,81}</string>
    <key>textureRect</key>
    <string>{{146,90},{65,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>TextGlobe</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,49}</string>
    <key>spriteSourceSize</key>
    <string>{54,50}</string>
    <key>textureRect</key>
    <string>{{77,164},{52,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{280,322}</string>
   <key>textureFileName</key>
   <string>Icons.png</string>
  </dict>
 </dict>
</plist>
