<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GreenParticle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{104,100}</string>
    <key>textureRect</key>
    <string>{{0,0},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>PurpleParticle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{82,80}</string>
    <key>spriteSourceSize</key>
    <string>{88,100}</string>
    <key>textureRect</key>
    <string>{{86,0},{82,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>StarParticle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{30,29}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,86},{30,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>YellowParticle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{60,78}</string>
    <key>spriteSourceSize</key>
    <string>{60,100}</string>
    <key>textureRect</key>
    <string>{{86,82},{60,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{170,162}</string>
   <key>textureFileName</key>
   <string>Particles.png</string>
  </dict>
 </dict>
</plist>
