<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Meteor_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{544,393}</string>
    <key>spriteSourceSize</key>
    <string>{544,393}</string>
    <key>textureRect</key>
    <string>{{1874,0},{544,393}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{846,846}</string>
    <key>spriteSourceSize</key>
    <string>{846,846}</string>
    <key>textureRect</key>
    <string>{{1026,0},{846,846}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{846,846}</string>
    <key>spriteSourceSize</key>
    <string>{846,846}</string>
    <key>textureRect</key>
    <string>{{0,1026},{846,846}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{846,846}</string>
    <key>spriteSourceSize</key>
    <string>{846,846}</string>
    <key>textureRect</key>
    <string>{{848,1026},{846,846}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{846,846}</string>
    <key>spriteSourceSize</key>
    <string>{846,846}</string>
    <key>textureRect</key>
    <string>{{1696,1026},{846,846}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>atmosphere</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,1024}</string>
    <key>spriteSourceSize</key>
    <string>{1024,1024}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,1024}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2544,1874}</string>
   <key>textureFileName</key>
   <string>Planets.png</string>
  </dict>
 </dict>
</plist>
