<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Planet_D</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{550,550}</string>
    <key>spriteSourceSize</key>
    <string>{550,550}</string>
    <key>textureRect</key>
    <string>{{668,0},{550,550}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{550,550}</string>
    <key>spriteSourceSize</key>
    <string>{550,550}</string>
    <key>textureRect</key>
    <string>{{0,668},{550,550}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{550,550}</string>
    <key>spriteSourceSize</key>
    <string>{550,550}</string>
    <key>textureRect</key>
    <string>{{552,668},{550,550}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Planet_D_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{550,550}</string>
    <key>spriteSourceSize</key>
    <string>{550,550}</string>
    <key>textureRect</key>
    <string>{{1104,668},{550,550}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>atmosphere</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{666,666}</string>
    <key>spriteSourceSize</key>
    <string>{666,666}</string>
    <key>textureRect</key>
    <string>{{0,0},{666,666}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1656,1220}</string>
   <key>textureFileName</key>
   <string>Planets.png</string>
  </dict>
 </dict>
</plist>
