<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>RedArrow01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{20,30}</string>
    <key>spriteSourceSize</key>
    <string>{20,32}</string>
    <key>textureRect</key>
    <string>{{300,278},{20,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedArrow02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{236,285},{30,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,45}</string>
    <key>spriteSourceSize</key>
    <string>{40,48}</string>
    <key>textureRect</key>
    <string>{{278,57},{40,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,70}</string>
    <key>spriteSourceSize</key>
    <string>{44,72}</string>
    <key>textureRect</key>
    <string>{{186,57},{42,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,83}</string>
    <key>spriteSourceSize</key>
    <string>{32,84}</string>
    <key>textureRect</key>
    <string>{{66,215},{30,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,60}</string>
    <key>spriteSourceSize</key>
    <string>{48,64}</string>
    <key>textureRect</key>
    <string>{{0,195},{44,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{40,79}</string>
    <key>spriteSourceSize</key>
    <string>{40,84}</string>
    <key>textureRect</key>
    <string>{{144,57},{40,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,83}</string>
    <key>spriteSourceSize</key>
    <string>{48,84}</string>
    <key>textureRect</key>
    <string>{{66,130},{46,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,71}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{0,57},{72,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{74,57},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,39}</string>
    <key>spriteSourceSize</key>
    <string>{24,40}</string>
    <key>textureRect</key>
    <string>{{114,130},{24,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedBlast11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{30,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{236,241},{30,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser01_End</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,42}</string>
    <key>spriteSourceSize</key>
    <string>{38,42}</string>
    <key>textureRect</key>
    <string>{{98,269},{38,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser01_Mid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{22,301},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser01_Start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,38}</string>
    <key>spriteSourceSize</key>
    <string>{48,38}</string>
    <key>textureRect</key>
    <string>{{144,241},{48,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser02_End</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,55}</string>
    <key>spriteSourceSize</key>
    <string>{108,56}</string>
    <key>textureRect</key>
    <string>{{0,0},{106,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser02_Mid</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{182,0},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedLaser02_Start</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,46}</string>
    <key>spriteSourceSize</key>
    <string>{52,46}</string>
    <key>textureRect</key>
    <string>{{236,0},{52,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{108,42},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,40}</string>
    <key>spriteSourceSize</key>
    <string>{12,40}</string>
    <key>textureRect</key>
    <string>{{322,278},{12,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,40}</string>
    <key>spriteSourceSize</key>
    <string>{12,40}</string>
    <key>textureRect</key>
    <string>{{222,281},{12,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,40}</string>
    <key>spriteSourceSize</key>
    <string>{24,40}</string>
    <key>textureRect</key>
    <string>{{308,138},{22,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,48}</string>
    <key>spriteSourceSize</key>
    <string>{16,48}</string>
    <key>textureRect</key>
    <string>{{320,57},{14,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,48}</string>
    <key>spriteSourceSize</key>
    <string>{16,48}</string>
    <key>textureRect</key>
    <string>{{46,195},{16,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,48}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{290,0},{32,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,20}</string>
    <key>spriteSourceSize</key>
    <string>{20,20}</string>
    <key>textureRect</key>
    <string>{{0,301},{20,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedOrb11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{268,278},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedRune01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,38}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{262,187},{36,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedRune02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{144,281},{38,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedRune03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{194,241},{40,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{300,187},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{114,171},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{268,241},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{36,36}</string>
    <key>textureRect</key>
    <string>{{184,281},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{98,215},{44,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,42}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{0,257},{52,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{144,187},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedStar08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{230,57},{46,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,32}</string>
    <key>spriteSourceSize</key>
    <string>{24,32}</string>
    <key>textureRect</key>
    <string>{{306,241},{24,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,31}</string>
    <key>spriteSourceSize</key>
    <string>{56,32}</string>
    <key>textureRect</key>
    <string>{{256,138},{50,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{62,22}</string>
    <key>spriteSourceSize</key>
    <string>{64,24}</string>
    <key>textureRect</key>
    <string>{{230,111},{62,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,35}</string>
    <key>spriteSourceSize</key>
    <string>{68,36}</string>
    <key>textureRect</key>
    <string>{{192,187},{68,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,46}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{202,138},{52,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,47}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{144,138},{56,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,63}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,130},{64,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RedWave09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,40}</string>
    <key>spriteSourceSize</key>
    <string>{72,40}</string>
    <key>textureRect</key>
    <string>{{108,0},{72,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{336,323}</string>
   <key>textureFileName</key>
   <string>RedProjectiles.png</string>
  </dict>
 </dict>
</plist>
