<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Spaceship1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,0}</string>
    <key>spriteSize</key>
    <string>{82,82}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,181},{82,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{83,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{292,93},{83,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,0}</string>
    <key>spriteSize</key>
    <string>{76,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{279,261},{76,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,0}</string>
    <key>spriteSize</key>
    <string>{71,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{276,317},{71,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{94,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{196,93},{94,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{70,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{349,317},{70,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{81,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{292,149},{81,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{81,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{292,149},{81,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{94,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{196,149},{94,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{79,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{98,344},{79,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{86,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{196,205},{86,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,91}</string>
    <key>spriteSourceSize</key>
    <string>{96,94}</string>
    <key>textureRect</key>
    <string>{{0,88},{86,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,58}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{186,0},{96,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{91,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{98,232},{91,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{84,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{98,288},{84,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,0}</string>
    <key>spriteSize</key>
    <string>{70,67}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,265},{70,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{81,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{0,334},{81,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{78,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{196,317},{78,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,91}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{98,0},{86,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,86}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,0},{96,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,74}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{98,93},{96,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-1}</string>
    <key>spriteSize</key>
    <string>{81,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,94}</string>
    <key>textureRect</key>
    <string>{{196,261},{81,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-1}</string>
    <key>spriteSize</key>
    <string>{84,54}</string>
    <key>spriteSourceSize</key>
    <string>{96,94}</string>
    <key>textureRect</key>
    <string>{{284,0},{84,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{79,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{284,205},{79,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Spaceship9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{98,169},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{421,400}</string>
   <key>textureFileName</key>
   <string>Spaceships.png</string>
  </dict>
 </dict>
</plist>
