<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>UFO</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,96}</string>
        <key>spriteSourceSize</key>
        <string>{96,96}</string>
        <key>textureRect</key>
        <string>{{576,96},{337,106}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>SpaceCruiser</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{96,96}</string>
        <key>spriteSourceSize</key>
        <string>{96,96}</string>
        <key>textureRect</key>
        <string>{{288,192},{337,106}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
      <key>metadata</key>
      <dict>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{678,652}</string>
        <key>textureFileName</key>
        <string>Spaceships.png</string>
      </dict>
    </dict>
</plist>

