<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>OffRadioButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{126,127}</string>
    <key>textureRect</key>
    <string>{{555,261},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>OnRadioButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{126,127}</string>
    <key>textureRect</key>
    <string>{{256,586},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RegularRadioButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{126,127}</string>
    <key>textureRect</key>
    <string>{{555,390},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RegularSquareButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,129}</string>
    <key>spriteSourceSize</key>
    <string>{126,129}</string>
    <key>textureRect</key>
    <string>{{0,586},{126,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>SelectedSquareButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{125,128}</string>
    <key>spriteSourceSize</key>
    <string>{125,128}</string>
    <key>textureRect</key>
    <string>{{384,586},{125,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ColoredSquareButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,129}</string>
    <key>spriteSourceSize</key>
    <string>{126,129}</string>
    <key>textureRect</key>
    <string>{{128,586},{126,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RegularRectangleButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,128}</string>
    <key>spriteSourceSize</key>
    <string>{405,128}</string>
    <key>textureRect</key>
    <string>{{0,131},{405,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>SelectedRectangleButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{404,129}</string>
    <key>spriteSourceSize</key>
    <string>{404,129}</string>
    <key>textureRect</key>
    <string>{{0,0},{404,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ColoredRectangleButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{404,128}</string>
    <key>spriteSourceSize</key>
    <string>{404,128}</string>
    <key>textureRect</key>
    <string>{{0,261},{404,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GreenRectangleButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{404,128}</string>
    <key>spriteSourceSize</key>
    <string>{404,128}</string>
    <key>textureRect</key>
    <string>{{0,391},{404,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>CloseButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,117}</string>
    <key>spriteSourceSize</key>
    <string>{119,119}</string>
    <key>textureRect</key>
    <string>{{511,586},{117,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BorderlessRadioButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,146}</string>
    <key>spriteSourceSize</key>
    <string>{151,151}</string>
    <key>textureRect</key>
    <string>{{406,261},{147,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BlueRadioButtonOff</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,67}</string>
    <key>textureRect</key>
    <string>{{662,0},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BlueRadioButtonOn</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,67}</string>
    <key>textureRect</key>
    <string>{{663,131},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Scroller</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{133,109}</string>
    <key>spriteSourceSize</key>
    <string>{135,112}</string>
    <key>textureRect</key>
    <string>{{406,409},{133,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ForwardButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,95}</string>
    <key>textureRect</key>
    <string>{{650,521},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>OffButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{254,128}</string>
    <key>spriteSourceSize</key>
    <string>{258,134}</string>
    <key>textureRect</key>
    <string>{{407,131},{254,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>OnButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{254,129}</string>
    <key>spriteSourceSize</key>
    <string>{260,135}</string>
    <key>textureRect</key>
    <string>{{406,0},{254,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ReturnButton</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,95}</string>
    <key>spriteSourceSize</key>
    <string>{93,95}</string>
    <key>textureRect</key>
    <string>{{650,618},{93,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Slider</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{648,63}</string>
    <key>spriteSourceSize</key>
    <string>{652,77}</string>
    <key>textureRect</key>
    <string>{{0,521},{648,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Bar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{334,24}</string>
    <key>spriteSourceSize</key>
    <string>{652,77}</string>
    <key>textureRect</key>
    <string>{{384,716},{334,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{745,742}</string>
   <key>textureFileName</key>
   <string>Widgets.png</string>
  </dict>
 </dict>
</plist>
